---
import type { Root } from "./types";

interface Props {
  readonly collection: string;
  readonly item: Root["children"][number];
  readonly depth?: number;
}
import Tree from "./sidebar.astro";
import { getEntry } from "astro:content";
import SidebarLink from "./sidebar-link.astro";

const { item, collection, depth = 0 } = Astro.props;

let title = "";
let pro = false;
if (item?.kind === "page-link") {
  const entry = await getEntry(collection, item.id);
  title = entry.data.title;
  pro = entry.data.pro;
}

let { pathname } = Astro.url;
if (pathname.endsWith("/")) pathname = pathname.slice(0, -1);
---

{
  item?.kind === "direct-link" && (
    <SidebarLink active={pathname === item.id} href={item.id} pro={pro}>
      {item.label}
    </SidebarLink>
  )
}
{
  item?.kind === "external-link" && (
    <SidebarLink active={false} href={item.href}>
      {item.label}
      <span class="flex-1" /> <span class="iconify ph--arrow-square-out relative left-2 top-px" />
    </SidebarLink>
  )
}
{
  item?.kind === "page-link" && (
    <SidebarLink
      active={pathname === `/${collection}/${item.id}`}
      href={`/${collection}/${item.id}`}
      pro={pro}
    >
      {title}
    </SidebarLink>
  )
}

{item?.kind === "separator" && <div role="separator" class="bg-xd-border/30 h-px w-full my-2" />}

{
  item?.kind === "group" && (
    <div
      class="group pb-3"
      data-collapsible={item.collapsible}
      data-collapsed={item.collapsed}
      data-group-id={item.id}
    >
      <div class="tracking-tight font-semibold text-sm flex items-center">
        {!item.collapsible && <div class="flex-1">{item.label}</div>}
        {item.collapsible && (
          <button
            class="flex items-center text-start xd-collapse-btn flex-1 hover:bg-xd-accent-foreground/5 transition-colors cursor-pointer px-3 -mx-1 rounded-lg py-2"
            data-group-id={item.id}
          >
            <span class="flex-1">{item.label}</span>
            <span class="iconify ph--caret-down group-data-[collapsed=true]:-rotate-90 transition-transform" />
          </button>
        )}
      </div>
      <div class="grid grid-rows-[1fr] group-data-[collapsible=true]:group-data-[collapsed=true]:grid-rows-[0fr] transition-[grid-template-rows] overflow-hidden mt-1 mb-3">
        <div class="min-h-0">
          <div>
            <div class="flex flex-col" style={`--sidebar-depth: ${depth + 1}`}>
              {item.children!.map((x) => (
                <Tree item={x} collection={collection} depth={depth + 1} />
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
