---
import "katex/dist/katex.css";
import { format } from "date-fns";
import DesktopToc from "../toc/desktop-toc.astro";
import ThemeToggle from "../theme-toggle.astro";
import ThemeScript from "../theme-script.astro";
import type { MarkdownHeading } from "astro";
import type { Root } from "../sidebar/types";
import Sidebar from "../sidebar/sidebar.astro";
import SidebarScript from "../sidebar/sidebar-script.astro";
import { cn } from "../ui/cn";
import { Search } from "../search/search";

export interface Props {
  readonly toc: MarkdownHeading[];
  readonly sidebar: Root;

  readonly nextEntry: null | { url: string; title: string; description: string };
  readonly prevEntry: null | { url: string; title: string; description: string };
  readonly lastModified: string;
}

const { toc, sidebar, nextEntry, prevEntry, lastModified } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <ThemeScript />
  </head>
  <body
    class="bg-xd-background text-xd-foreground min-h-screen flex flex-col dark:scheme-dark scheme-light"
  >
    <div class="sticky top-0 z-10">
      <div
        class="h-header border-b border-xd-border bg-xd-background flex gap-2 items-center justify-between"
      >
        <header
          class="flex items-center lg:max-w-[1000px] xl:max-w-7xl [@media(min-width:1380px)]:max-w-[1360px] [@media(min-width:1500px)]:max-w-[1480px] mx-auto w-full md:justify-between px-2 gap-2"
        >
          <div>Logo</div>
          <div class="flex-1 flex justify-end md:block md:flex-[unset]">
            <Search client:idle />
          </div>
          <div>
            <ThemeToggle />
          </div>
        </header>
      </div>
      <div class="h-subheader border-b border-xd-border bg-xd-background">
        <div
          class="flex items-center lg:max-w-[1000px] xl:max-w-7xl [@media(min-width:1380px)]:max-w-[1360px] [@media(min-width:1500px)]:max-w-[1480px] mx-auto w-full justify-between px-2"
        >
          <aside class="">Link 1</aside>
        </div>
      </div>
    </div>
    <div class="flex-1 grid grid-row-[1fr]">
      <div class="w-full h-full">
        <div
          class="h-full w-full lg:max-w-[1000px] xl:max-w-7xl [@media(min-width:1380px)]:max-w-[1360px] [@media(min-width:1500px)]:max-w-[1480px] mx-auto"
        >
          <div
            class="grid grid-cols-1 lg:grid-cols-[calc(100%-var(--spacing-toc))_var(--spacing-toc)] xl:grid-cols-[var(--spacing-sidenav)_calc(100%-var(--spacing-sidenav)-var(--spacing-toc))_var(--spacing-toc)]"
          >
            <div
              class:list={[
                "overflow-auto contain-strict no-scrollbar",
                "w-sidenav min-w-sidenav max-w-sidenav py-8 sticky top-[calc(var(--spacing-header)+var(--spacing-subheader))]",
                "h-[calc(100vh-var(--spacing-header)-var(--spacing-subheader))]",
                "hidden xl:block",
              ]}
            >
              {
                sidebar.children.map((x) => {
                  return (
                    <div class="flex flex-col gap-2 pr-3 pl-2">
                      <Sidebar item={x} collection={sidebar.collection} />
                    </div>
                  );
                })
              }
              <SidebarScript />
            </div>

            <div class="flex flex-col">
              <div class="w-full max-w-full flex-1">
                <div
                  class="text-sm text-neutral-800 dark:text-neutral-400 px-4 py-8 max-w-4xl mx-auto"
                >
                  <main class="mx-auto">
                    <slot />
                  </main>
                </div>
              </div>
              <footer class="w-full max-w-full flex-1">
                <div>
                  <div class="max-w-4xl mx-auto px-4.5 pt-4 text-sm text-xd-muted-foreground">
                    <div class="border-t border-xd-border pb-4" role="separator"></div>
                    <p>
                      Last updated on
                      {format(lastModified, "dd/MM/yyyy")}
                    </p>
                  </div>
                  <div
                    class:list={cn(
                      "text-neutral-800 dark:text-neutral-400 px-4 pt-4 pb-8 max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-8",
                      ((!prevEntry && nextEntry) || (!nextEntry && prevEntry)) && "sm:grid-cols-1",
                    )}
                  >
                    {
                      prevEntry && (
                        <a
                          href={prevEntry.url}
                          class="text-sm flex-1 border  rounded-lg hover:bg-xd-accent/80 hover:text-xd-accent-foreground transition-colors p-4 gap-2 flex flex-col border-xd-border"
                        >
                          <div class="font-semibold text-xd-foreground flex items-center gap-2">
                            <span class="iconify ph--caret-left" />

                            {prevEntry.title}
                          </div>
                          <p class="text-nowrap truncate w-full mb-0">{prevEntry.description}</p>
                        </a>
                      )
                    }
                    {
                      nextEntry && (
                        <a
                          href={nextEntry.url}
                          class="text-sm flex-1 border rounded-lg hover:bg-xd-accent/80 hover:text-xd-accent-foreground transition-colors p-4 gap-2 flex flex-col border-xd-border"
                        >
                          <div class="text-end font-semibold text-xd-foreground flex items-center justify-end gap-2">
                            {nextEntry.title}
                            <span class="iconify ph--caret-right" />
                          </div>
                          <p class="text-nowrap text-end truncate w-full mb-0">
                            {nextEntry.description}
                          </p>
                        </a>
                      )
                    }
                  </div>
                </div>
              </footer>
            </div>

            {
              toc.length > 0 && (
                <div
                  class:list={[
                    "w-toc min-w-toc max-w-toc sticky top-[calc(var(--spacing-header)+var(--spacing-subheader))] h-0 py-8 pl-2",
                    "hidden lg:block",
                  ]}
                >
                  <DesktopToc toc={toc} />
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
