---
import FenceContainer from "../fence-container.astro";
import Tab from "../tab.astro";
import Tabs from "../tabs.astro";
import BlockCode from "../parts/block-code.astro";
import { Resetter } from "./resetter";
import { FrameControls } from "./frame-controls";
import path from "node:path";

interface Props {
  title: string;
  files: Record<string, string>;
  codeSandbox: string;
  stackBlitz: string;
}

const priorityOrder = ["tsx", "ts", "css"];
const { codeSandbox, stackBlitz, ...props } = Astro.props;
const tabs = Object.entries(props.files)
  .filter(([name]) => !name.startsWith("."))
  .filter(([name]) => (!name.endsWith(".css") && !name.startsWith("data")) || name.startsWith("demo"))
  .sort((l, r) => {
    const a = l[0];
    const b = r[0];

    const aBase = path.parse(a).name.toLowerCase();
    const bBase = path.parse(b).name.toLowerCase();

    // 1. component.* files always first
    if (aBase === "demo" && bBase !== "demo") return -1;
    if (bBase === "demo" && aBase !== "demo") return 1;

    // 2. Compare by extension priority
    const aExt = path.extname(a).slice(1); // remove dot
    const bExt = path.extname(b).slice(1);

    const aIndex = priorityOrder.indexOf(aExt);
    const bIndex = priorityOrder.indexOf(bExt);

    if (aIndex !== -1 && bIndex !== -1) {
      return aIndex - bIndex;
    }
    if (aIndex !== -1) return -1;
    if (bIndex !== -1) return 1;

    // 3. Otherwise alphabetical
    return a.localeCompare(b);
  });
---

<div
  class="flex flex-col overflow-hidden rounded-xl border border-neutral-200 dark:border-neutral-800 shadow-sm my-8 code-demo"
>
  <div class="bg-neutral-50/50 dark:bg-neutral-900 flex items-center gap-1 p-4">
    <h3 class="text-base font-medium text-xd-foreground my-0">
      {props.title}
    </h3>
  </div>
  <FenceContainer class="p-0 my-0 rounded-none">
    <div class="bg-xd-background">
      <Resetter client:load>
        <slot />
      </Resetter>
    </div>
  </FenceContainer>
  <div class="relative flex items-center max-w-full overflow-hidden bg-neutral-50 dark:bg-neutral-900">
    <div class="flex-1 min-h-12 cf-root group overflow-hidden" data-expanded="false">
      <div class="codeframe-tabs-container group-data-[expanded=true]:block hidden">
        {
          tabs.length > 0 && (
            <Tabs class="codeframe-tabs">
              {tabs.map(([filename, code]) => {
                const lang = filename.split(".").at(-1);

                return (
                  <Tab label={filename}>
                    <BlockCode lang={lang!} code={code} />
                  </Tab>
                );
              })}
            </Tabs>
          )
        }
      </div>

      <div class="flex justify-end items-center py-2 px-3 gap-2 absolute top-0.5 z-1 right-0">
        <FrameControls client:load files={props.files} codeSandbox={codeSandbox} stackBlitz={stackBlitz} />
      </div>
    </div>
  </div>
</div>

<script>
  const init = () => {
    const getTabsContainerRoot = (el: HTMLElement) => {
      let current = el;
      while (current && !current.classList.contains("cf-root")) {
        current = current.parentElement!;
      }
      return current;
    };

    const getCodeDemo = (el: HTMLElement) => {
      let current = el;
      while (current && !current.classList.contains("code-demo")) {
        current = current.parentElement!;
      }
      return current;
    };

    const resetters = Array.from(document.querySelectorAll(".xd-resetter")) as HTMLElement[];
    resetters.forEach((btn) => {
      btn.addEventListener("click", () => {
        const demo = getCodeDemo(btn);
        if (!demo) return;

        const rest = demo.querySelector("[data-reset-target");
        if (!rest) return;

        rest.dispatchEvent(new Event("xd-reset"));
      });
    });

    const expandBtns = Array.from(document.querySelectorAll(".cf-expand-btn")) as HTMLElement[];
    expandBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        const root = getTabsContainerRoot(btn);
        if (!root) return;

        const expanded = root.getAttribute("data-expanded") === "true";
        if (expanded) root.setAttribute("data-expanded", "false");
        else root.setAttribute("data-expanded", "true");
      });
    });
  };

  window.addEventListener("load", () => init());

  document.addEventListener("astro:after-swap", () => {
    init();
  });
</script>
