---
import FenceContainer from "../fence-container.astro";
import Tab from "../tab.astro";
import Tabs from "../tabs.astro";
import { Code } from "astro-expressive-code/components";
import { Resetter } from "./resetter";
import { FrameControls } from "./frame-controls";
import { parseExpressiveCode } from "./parse-text";

interface Props {
  title: string;
  files: Record<string, string>;
  codeSandbox: string;
  stackBlitz: string;
}

const { codeSandbox, stackBlitz, ...props } = Astro.props;
const tabs = Object.entries(props.files).filter(
  ([name]) => !name.endsWith(".css") && !name.startsWith("data"),
);
---

<div
  class="flex flex-col overflow-hidden rounded-xl border border-gray-200 dark:border-gray-800 shadow my-8 code-demo"
>
  <div class="bg-xd-card flex items-center gap-1 p-4">
    <h3 class="text-base font-medium text-xd-foreground my-0">
      {props.title}
    </h3>
  </div>
  <FenceContainer class="p-0 my-0 rounded-none">
    <div class="bg-xd-background">
      <Resetter client:load>
        <slot />
      </Resetter>
    </div>
  </FenceContainer>
  <div class="relative flex items-center bg-xd-card">
    <div class="flex-1 min-h-12 cf-root group" data-expanded="false">
      <div class="codeframe-tabs-container group-data-[expanded=true]:block hidden">
        {
          tabs.length > 0 && (
            <Tabs class="codeframe-tabs">
              {tabs.map(([filename, code]) => {
                const lang = filename.split(".").at(-1);

                const parsed = parseExpressiveCode(code);

                return (
                  <Tab label={filename}>
                    <Code lang={lang} {...parsed} />
                  </Tab>
                );
              })}
            </Tabs>
          )
        }
      </div>

      <div class="flex justify-end items-center py-2 px-3 gap-2 absolute top-0.5 z-1 right-0">
        <FrameControls client:load files={props.files} codeSandbox={codeSandbox} stackBlitz={stackBlitz} />
      </div>
    </div>
  </div>
</div>

<script>
  const init = () => {
    const getTabsContainerRoot = (el: HTMLElement) => {
      let current = el;
      while (current && !current.classList.contains("cf-root")) {
        current = current.parentElement!;
      }
      return current;
    };

    const getCodeDemo = (el: HTMLElement) => {
      let current = el;
      while (current && !current.classList.contains("code-demo")) {
        current = current.parentElement!;
      }
      return current;
    };

    const resetters = Array.from(document.querySelectorAll(".xd-resetter")) as HTMLElement[];
    resetters.forEach((btn) => {
      btn.addEventListener("click", () => {
        const demo = getCodeDemo(btn);
        if (!demo) return;

        const rest = demo.querySelector("[data-reset-target");
        if (!rest) return;

        rest.dispatchEvent(new Event("xd-reset"));
      });
    });

    const expandBtns = Array.from(document.querySelectorAll(".cf-expand-btn")) as HTMLElement[];
    expandBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        const root = getTabsContainerRoot(btn);
        if (!root) return;

        const expanded = root.getAttribute("data-expanded") === "true";
        if (expanded) root.setAttribute("data-expanded", "false");
        else root.setAttribute("data-expanded", "true");
      });
    });
  };

  window.addEventListener("load", () => init());

  document.addEventListener("astro:after-swap", () => {
    init();
  });
</script>
