---
import { capitalize } from "es-toolkit";
import { getCollection, render } from "astro:content";
import DocsLayout from "./docs-layout.astro";
import { Code } from "astro-expressive-code/components";

import StandaloneImage from "./standalone-image.astro";
import Callout from "./callout.astro";
import CodeFrame from "./code-frame/code-frame.astro";
import Steps from "./steps.astro";
import Tabs from "./tabs.astro";
import Tab from "./tab.astro";
import FileTree from "./file-tree/file-tree.astro";
import Table from "./table.astro";
import ProTag from "./company/pro-tag.astro";
import { getSidebarConfig } from "./sidebar/get-sidebar-config";
import PackageInstall from "./package-install.astro";
import H1 from "./parts/h1.astro";
import H2 from "./parts/h2.astro";
import H3 from "./parts/h3.astro";
import H4 from "./parts/h4.astro";
import H5 from "./parts/h5.astro";
import H6 from "./parts/h6.astro";
import A from "./parts/a.astro";
import Ol from "./parts/ol.astro";
import Strong from "./parts/strong.astro";
import Ul from "./parts/ul.astro";
import P from "./parts/p.astro";
import Li from "./parts/li.astro";
import Blockquote from "./parts/block-quote.astro";
import Hr from "./parts/hr.astro";
import Img from "./parts/img.astro";
import Th from "./parts/th.astro";
import Tr from "./parts/tr.astro";
import Td from "./parts/td.astro";
import PackageDlx from "./package-dlx.astro";

export interface Props {
  entry: {
    id: string;
    body?: string;
    collection: any;
    data: any;
    rendered?: any;
    filePath?: string;
  };
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);

const sidebar = getSidebarConfig(entry.filePath!, entry.collection);

const breadcrumbs = entry
  .filePath!.replace(entry.collection + "/", "")
  .split("/")
  .map((x) => {
    if (x.startsWith("(@"))
      return capitalize(
        x.replace("(@", "").replace(")", "").replaceAll("-", " ").replaceAll("_", " "),
      );
    if (x.startsWith("("))
      return capitalize(
        x.replace("(", "").replace(")", "").replaceAll("-", " ").replaceAll("_", " "),
      );

    return capitalize(x.replaceAll("_", " ").replaceAll("-", " "));
  })
  .slice(0, -1);
---

<DocsLayout sidebar={sidebar} toc={headings.filter((x: any) => x.depth === 2 || x.depth === 3)}>
  {
    breadcrumbs.length > 0 && (
      <div class="flex items-center gap-1.5 text-sm text-fd-muted-foreground mb-5">
        {breadcrumbs.map((b, i) => {
          const isLast = i === breadcrumbs.length - 1;
          if (isLast) return <span class="truncate text-ln-primary font-medium">{b}</span>;

          return (
            <>
              <span>{b}</span>
              <span>/</span>
            </>
          );
        })}
      </div>
    )
  }
  <H1>{entry.data.title}</H1>
  {
    entry.data.description && (
      <P sx="text-base text-ln-muted-foreground">{entry.data.description}</P>
    )
  }
  <Content
    components={{
      ProTag,
      Code,
      CodeFrame,
      Callout,
      StandaloneImage,
      PackageInstall,
      PackageDlx,
      Steps,
      Tabs,
      Tab,
      FileTree,

      table: Table,
      th: Th,
      tr: Tr,
      td: Td,

      h1: H1,
      h2: H2,
      h3: H3,
      h4: H4,
      h5: H5,
      h6: H6,

      a: A,
      ol: Ol,
      ul: Ul,
      p: P,
      strong: Strong,

      li: Li,
      blockquote: Blockquote,
      img: Img,
      hr: Hr,
    }}
  />
</DocsLayout>
