---
import { cva } from "class-variance-authority";

interface ParameterNode {
  name: string;
  description: ReactNode;
}
interface TypeNode {
  /**
   * Additional description of the field
   */
  description?: ReactNode;

  /**
   * type signature (short)
   */
  type: ReactNode;

  /**
   * type signature (full)
   */
  typeDescription?: ReactNode;

  /**
   * Optional `href` for the type
   */
  typeDescriptionLink?: string;

  default?: ReactNode;

  required?: boolean;
  deprecated?: boolean;

  parameters?: ParameterNode[];

  returns?: ReactNode;
}

import type { ReactNode } from "react";
import { cn } from "./ui/cn";
import { Collapsible, CollapsibleContent, CollapsibleTrigger } from "./ui/collapsible";
import { Item } from "./type-table/type-table-component";
interface Props {
  readonly type: Record<string, TypeNode>;
}

const keyVariants = cva("text-fd-primary", {
  variants: {
    deprecated: {
      true: "line-through text-fd-primary/50",
    },
  },
});
---

<div
  class:list={cn(
    "@container bg-xd-background text-xd-card-foreground",
    "p-t my-6 flex flex-col overflow-hidden",
    "rounded-2xl border-x border-xd-border border-t p-1 text-sm",
  )}
>
  <div class="not-prose text-fd-muted-foreground flex items-center px-3 py-1 font-medium">
    <p class="w-[25%]">Prop</p>
  </div>
  {
    Object.entries(Astro.props.type)
      .sort((l, r) => {
        if (l[1].required && r[1].required) return l[0].localeCompare(r[0]);
        if (l[1].required) return -1;
        if (r[1].required) return 1;
        return l[0].localeCompare(r[0]);
      })
      .map(([name, { description, required = false, deprecated, type, typeDescriptionLink }]) => (
        <Item
          trigger={
            <>
              <div class="flex flex-1 items-center gap-2">
                <code
                  class={cn(
                    keyVariants({
                      deprecated,
                      class: "min-w-fit flex-1 font-medium",
                    }),
                  )}
                >
                  {name}
                  {!required && (
                    <span class="bg-primary-300/20 text-primary-700 border-primary-500/60 ml-1 rounded border px-1 py-1 text-[10px]">
                      optional
                    </span>
                  )}
                </code>
                {typeDescriptionLink ? (
                  <a href={typeDescriptionLink} class="@max-xl:hidden underline">
                    {type}
                  </a>
                ) : (
                  <div class="@max-xl:hidden">{type}</div>
                )}
              </div>
              <span class="iconify ph--caret-down text-fd-muted-foreground end-2 size-4 transition-transform group-data-[state=open]:rotate-180" />
            </>
          }
          name={name}
          item={value}
          client:idle
        />
      ))
  }
</div>
