---
import type { MarkdownHeading } from "astro";

export interface Props {
  readonly toc: MarkdownHeading[];
}

const { toc } = Astro.props;
---

{
  toc.length && (
    <h3 class="pb-2 text-sm flex items-center gap-2 relative -left-1 text-xd-muted-foreground">
      <span class="iconify ph--text-align-left-light size-4" />
      On this page
    </h3>
  )
}

<div class="relative">
  <div role="none" class="absolute transition-all bg-xd-foreground w-px" id="toc-border"></div>

  <div class="flex flex-col text-sm gap-1.5 border-l border-xd-border" id="toc">
    {
      toc.map((x) => {
        return (
          <a
            class:list={[
              x.depth === 3 ? "pl-6" : "pl-3",
              "text-xd-muted-foreground hover:text-xd-accent-foreground transition-colors cursor-pointer py-0.5 toc-link",
              "data-[active=true]:text-xd-foreground",
            ]}
            href={`#${x.slug}`}
          >
            {x.text}
          </a>
        );
      })
    }
  </div>
</div>

<script>
  function getClosestHeading() {
    const tocLinks = Array.from(document.querySelectorAll<HTMLAnchorElement>("#toc .toc-link"));

    if (tocLinks.length) {
      // Map TOC links to actual headings on the page
      const headings = tocLinks
        .map((link) => {
          const id = link.getAttribute("href")?.slice(1);
          if (!id) return null;
          return document.getElementById(id);
        })
        .filter((el): el is HTMLElement => !!el);

      const bar = document.getElementById("toc-border")!;
      const setActive = (id: string) => {
        tocLinks.forEach((link) => {
          const li = link;
          if (!li) return;

          if (link.getAttribute("href") === `#${id}`) {
            li.setAttribute("data-active", "true");
            const offset = li.offsetTop - li.parentElement!.offsetTop;
            const height = li.offsetHeight;
            bar.style.top = `${offset}px`;
            bar.style.height = `${height}px`;
          } else {
            li.removeAttribute("data-active");
          }
        });
      };

      const header = headings.map((x) => x.getBoundingClientRect().top);

      const firstPositiveIndex = header.findIndex((x) => x >= 0);
      const previousIndex = firstPositiveIndex - 1;
      const value = header[firstPositiveIndex];
      const prevValue = Math.abs(header[previousIndex]);

      const index = prevValue < value ? previousIndex : firstPositiveIndex;

      const activeId = headings[index]?.id;
      if (activeId) setActive(activeId);
    }
  }

  const setupToc = () => {
    document.addEventListener("toc-reapply", () => {
      getClosestHeading();
    });

    let frame: number | null = null;
    document.addEventListener("scroll", () => {
      if (frame) return;

      frame = requestAnimationFrame(() => {
        getClosestHeading();
        frame = null;
      });
    });
  };

  window.addEventListener("load", () => setupToc());
  document.addEventListener("astro:after-swap", () => setupToc());
</script>
